Repository FrenkyDema/ServerinoBot, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, server, config, tasks, discord, workflows, resources

.github/labeler.yml:

documentation:
  - .github/*

server:
  - src/server/*

config:
  - src/config/*

tasks:
  - src/tasks/*

discord:
  - src/discord/*

workflows:
  - .github/workflows/*

resources:
  - src/resources/*

Create README.md
  .github/README.md
Labels: documentation

Create main.py
  src/main.py
Labels: none

Create discord_module.py
  src/discord/discord_module.py
Labels: discord

Create ngrok_module.py
  src/server/ngrok_module.py
Labels: server

Create task_module.py
  src/tasks/task_module.py
Labels: tasks

Update .gitignore
  .gitignore
Labels: none

Update .gitignore
  .gitignore
Labels: none

Create pull_request_automerge.yml
  .github/workflows/pull_request_automerge.yml
Labels: workflows

Update dependabot.yml
  .github/dependabot.yml
Labels: documentation

Update dependabot.yml
  .github/dependabot.yml
Labels: documentation

Update codeql.yml
  .github/workflows/codeql.yml
Labels: workflows

import rebase
  src/__init_.py
  src/main.py
  src/tasks/task_module.py
Labels: tasks

Add clear to bot
  .gitignore
  src/discord/discord_module.py
Labels: discord

Update README.md
  .github/README.md
Labels: documentation

Rename LICENSE to .github/LICENSE
  .github/LICENSE
Labels: documentation

Rename .github/LICENSE to LICENSE
  LICENSE
Labels: none
